<div class="container">

    <div class="row top-row">
        <button class="back-button" (click)="goBack()">Back</button>
        <div class="fol-heading">
            <img src="../assets/images/folder-icon.png" alt="folder icon" class="folder-logo" />
            Policy<br><p style="margin-top: -1%; font-size: small;color: #575757;">Last Updated: Sunday, 26 May 2024</p>
            <div class="profile">
                <input type="text" class="search-bar" placeholder="Search..." />
                <img src="../assets/images/profile-pic.jpg" alt="Profile Picture" class="profile-pic" />
                <p class="name-1">Nisarga G <br> Product</p>
            </div>
        </div>
      </div>
      <div class="row bottom-row">
        <div class="row-1">
            <p class="cat-heading">Folders</p>
            <div>
            <div class="folder-box">
                <div class="folder-grid" 
                (click)="turnBlack(folder)" 
                [class.black]="selectedFolder === folder"  *ngFor="let folder of folders" [routerLink]="'/policy'" >
                 <img src="../assets/images/folder-logo.jpg" alt="folder Picture" class="folder-logo" />
                     {{ folder }}
                   </div>
                   <div class="add-folder-grid" (click)="openAddFolderDialog()" >
                     <img src="../assets/images/plus.png" alt="folder Picture" class="plus-logo" />
                     Add Folder
                   </div> 
             </div>
             <div class="doc-head">
                HR >> Documents
                <div class="share-delete">
                <button class="sh-de-but" (click)="goBack()">Share</button> &nbsp;
                <button class="sh-de-but" (click)="goBack()">Delete</button>
            </div>
            </div>
            <div>
                <!-- <button class="upload-but" (click)="">Upload Document</button> -->
                <div class="upload-but">
                    <button mat-raised-button color="primary" (click)="fileInput.click()">Upload Document</button>
                    <input 
                      type="file" 
                      #fileInput 
                      (change)="onFileSelected($event)" 
                      hidden 
                    />
                 
                  
                  <div *ngIf="selectedFile"  class="centered-container">
                    <p>Selected File: {{ selectedFile.name }}</p>
                    <textarea
                    placeholder="Enter your comment"
                    [(ngModel)]="comment"
                    rows="3"
                    class="comment-box"
                  ></textarea>
                    <button mat-raised-button color="accent" (click)="uploadFile()">Upload</button>
                  </div>
                </div>
                                    
            </div>
            <div class="list-files">
              <div *ngFor="let file of files; let i = index" style="border-bottom: 1px gray solid; margin-bottom: 1%;">
                <p>
                  {{ file }}
                  <button class="file-but"> Download</button>
                  <button class="file-but">Share</button>
                  <button class="rev-history-but" (click)="showRevHistory(i)">Rev history</button>
                  <button class="file-but"> {{versions[i]}}</button>
                </p>
              </div>              
                
            </div>
            
            </div>
            
            
        </div>
      </div>

</div>
